.block {
    height: 400px;
    width: 700px;
    border-radius: 30px;
    background-color: rgb(104, 104, 104);
    margin-left: 27%;
    margin-top: 10%;
}

.title1 {
    color: white;
    text-align: center;
    margin-top: 5%;
}

#ui {
    text-align: center;
    font-size: 30px;
}

.btn {
    margin-left: 43.5%;
    margin-top: 30%;
}