.window{
    background-color: rgb(56, 56, 56);
    height: 500px;
    width: 800px;

    margin-left: 16%;
    margin-top: 11%;
}

.text {
    height: 97%;
    width: 97%;

    margin-left: 2%;
    color: aliceblue;
    font-size: 25px;
}

.title {
    margin-left: 43%;
    margin-top: 5%;
    color: white;
}

.btn {
    margin-top: 3%;
    margin-left: 50%;
}