.block0 {
    height: 100px;
    width: 70px;
    background-color: black;
    margin-right: 1%;
}

.block1 {
    height: 100px;
    width: 70px;
    background-color: black;
    margin-right: 1%;
}

.block2 {
    height: 100px;
    width: 70px;
    background-color: white;
    margin-right: 1%;
}

.block3 {
    height: 100px;
    width: 70px;
    background-color: white;
}